<nav class="nav">
    <div class="container-fluid">
        <a [routerLink]="['..']" class="nav-link" *ngIf="showBack">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-arrow-left fa-stack-1x"></i>
            </span>
        </a>
        <a routerLink="/" class="nav-link">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-home fa-stack-1x"></i>
            </span>
        </a>
    </div>
</nav>
