<app-layout *ngIf="type">
    <ng-container body>
        <app-az-progress></app-az-progress>

        <div class="row">
            <div class="col-xs-6">
                <app-card [link]="['list']">
                    <img src="assets/card_pink.png" image>
                    <span title>Список символов</span>
                </app-card>
            </div>
            <div class="col-xs-6">
                <app-card [link]="['training']">
                    <img src="assets/card_green.png" image>
                    <span title>Тренировка</span>
                </app-card>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <app-card [link]="'/'">
                    <img src="assets/card_pink.png" image>
                    <span title>Правила произношения</span>
                </app-card>
            </div>
            <div class="col-xs-6">
                <app-card [link]="'/'">
                    <img src="assets/card_green.png" image>
                    <span title>Историческая справка</span>
                </app-card>
            </div>
        </div>
    </ng-container>
</app-layout>




