.my-progress {
    background: #fff;
    padding-top: 15px;
    margin-top: -20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.answer-btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background: #fff;
    margin-bottom: 20px;
}
.col-xs-6 .answer-btn {
    padding: .25em .5em;
    font-size: 4.5em;
}
.col-xs-4 .answer-btn {
    padding: .2em .4em;
    font-size: 3em;
}
.success {
    color: #000;
    background: #cfc;
}
.danger {
    color: #000;
    background: #fcc;
}
.overlay {
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .1);
}
.message {
    margin: 15px;
    padding: 15px;
    text-align: center;
    background: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
}
.trophy > .fa {
    font-size: 2em;
    color: #ffc135;
}
.goodgame > .fa {
    font-size: 2em;
    color: #337ab7;
}
.frown > .fa {
    font-size: 2em;
    color: #777;
}
