<div class="container-fluid body">
    <div class="row">
        <div class="col-xs-6">
            <app-card [link]="'/az/hiragana'">
                <img src="assets/card_pink.png" image>
                <span title>Хирагана</span>
            </app-card>
        </div>
        <div class="col-xs-6">
            <app-card [link]="'/az/katakana'">
                <img src="assets/card_green.png" image>
                <span title>Катакана</span>
            </app-card>
        </div>
    </div>
</div>
